@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
    
    *{
        box-sizing: border-box;
    }

    body{
        font-family: "Space Grotesk",sans-serif;
        color: #191A23;
    }

    .container1 {
        max-width: 1440px;
        max-height: 863px;
        padding: 30px 10px;
        display:flex;
        justify-content: space-between;
        margin: 0 auto;
        gap:40px;
        align-items: center;
    }

    .header,
    .detail
    {
        display: flex;
        align-items: center;
        gap:30px;
        justify-content: space-between;
    }

    .logo{
        max-width: 240px;
        display: block;
    }

    .container1 a {
        text-decoration: none;
        color: #191A23;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    .request{
        background-color: white;
        color:#191A23;
        border: 1px solid #191A23; 
        border-radius: 14px; 
        padding: 20px 35px; 
        text-align: center; 
        display: inline-block; 
        font-size: 20px; 
        line-height: 28px;
        margin: 4px 2px; 
    }

    .ham,
    .social2{
        display: none;
    }

    .container1b{
        
        max-height: 514px;
        background-color:#191A23 ;
        border-radius: 45px 45px 0 0;
        padding: 50px 60px;
        gap: 50px;
        margin: 300px 126px 0px 126px;

    }

    .footer{
        max-width: 1121px;
        max-height: 30px;
        display:flex; 
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 40px 0px;
        gap:155px;

    }

    .detail a{
        max-height:23px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: solid underline;
    }

    .social{
        display: flex;
        align-items: center;
        gap:20px;
        justify-content: space-between;
    }

    .logo2{
        max-width: 180px;
        max-height: 29px;
    }

    .cont{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1120px;
        max-height:185px;
    }

    .us{
        display:flex;
        flex-direction: column;
        max-height:185px;
        max-width:332px;
        gap:27px;
    }

    .us h4{
        background-color: #b9ff66;
        max-width:126px;
        max-height:26px;
        border-radius:7px;
        padding: 0 7px;
        gap:10px;
        font-size: 18px;
        font-weight: 500;
    }

    .us p{
        color: #ffffff;
        max-width:332px;
        max-height:132px;
        gap:20px;
        font-size: 18px;
        font-weight: 400;
    }

    .rec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:700px;
        max-height:184px;
        border-radius: 14px;
        padding: 58px 40px;
        gap:20px;
        background-color: #292a32;
    }

    .email{
        width:285px;
        max-height:67px;
        border-radius: 14px;
        border: 1px solid #ffffff;
        padding: 15px 30px 15px 20px;
        gap:10px;
        display: flex;
        align-items: center;
    }

    .email p{
        max-width:45px;
        max-height:23px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }

    .subsc{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 68px;
        border-radius: 14px;
        padding: 10px 40px;
        gap:10px;
        background-color: #b9ff66;
    }

    .subsc p{
        color:black;
        max-width: 179px;
        max-height: 28px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }

    .priva{
        max-width: 1120px;
        max-height: 78px;
        gap:50px;
        border-top: 1px solid #ffffff;
        display:flex;
        margin: 100px auto;
        padding: 20px 0px;
    }

    .bt2{
        display: flex;
        max-width: 485px;
        max-height: 28px;
        gap: 40px;
    }

    .cpr p{
        max-width: 324px;
        max-height: 28px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #ffffff;
    }

    .pp p{
        max-width: 121px;
        max-height: 28px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        text-decoration: solid underline;
        color: #ffffff;
    }




    @media screen and (max-width: 1200px) 
    {
        .container1,
        .container1b{
            max-height: none;
            margin: auto;
            padding: 20px 24px;
            border-radius: 20px;
        }

        .footer,
        .cont,
        .us,
        .rec,
        .bt2,
        .priva{
            display:flex;
            flex-direction: column;
            align-items: center;
            max-height: none;
            gap:20px;
            max-width: 100%;
            padding: 0;
        }

        .footer{
            margin: 40px auto;
        }

        .us p,
        .detail,
        .cpr p,
        .pp p{
            font-size: 14px;
        }

        .detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            max-height: none;
            max-width: 100%;
        }

        .detail a{
            text-decoration: none;
        }

        .us p,
        .us h4,
        .email,
        .subsc,
        .subsc p{
            max-width: 100%;
            max-height: none;
        }

        .rec{
            width: 100%;
            display:flex;
            flex-direction: column;
            padding: 30px 20px;
            gap:20px;
            border-radius: 20px;
        }

        .email{
            width: 100%;
            padding: 15px 20px;
        }

        .subsc{
            width: 100%;
            padding: 15px 20px;
        }

        .priva{
            margin:40px auto;
            border-top: 1px solid #ffffff;
            padding-top: 20px;
        }
        
        .header,
        .social {
            display: none;
        }

        .ham {
            display: block;
        }

        .social2{
            max-width: 100px;
            gap: 20px;
            display: flex;
        }

        .logo{
            max-width: 200px;
        }
  
    }

